<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/header') %>
  <body>
    <%- include('partials/navbar')%>
    <h1>Data for <%=name.first%> <%=name.last%></h1>
    <h2>ID# <%=_id%></h2>
    <img src="<%=picture%>" alt="random picture" />
    <h2>Contact Information</h2>
    <ul>
      <li>::Company:: <%=company%></li>
      <li>::Email:: <%=email%></li>
      <li>::Phone:: <%=phone%></li>
      <li>::Address:: <%=address%></li>
    </ul>
    <% if (friends.length > 0) { %>
    <h2>Friend List</h2>
    <ul>
      <%for(friend of friends) { %>
      <li>Friend <%= friend.id %>: <%= friend.name %></li>

      <%}%>
    </ul>
    <% } %>
  </body>
  <form action="http://localhost:3000/json" method="get">
    <button>Get Random ID</button>
  </form>
  <%- include('partials/bs4-js') %>
</html>
