<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSON for ID: <%=jsonData.index%></title>
  </head>
  <body>
    <h1>Data for <%=jsonData.name.first%> <%=jsonData.name.last%></h1>
    <h2>ID# <%=jsonData._id%></h2>
    <img src="<%=jsonData.picture%>" alt="random picture" />
    <h2>Contact Information</h2>
    <ul>
      <li>::Company:: <%=jsonData.company%></li>
      <li>::Email:: <%=jsonData.email%></li>
      <li>::Phone:: <%=jsonData.phone%></li>
      <li>::Address:: <%=jsonData.address%></li>
    </ul>
  </body>
  <form action="">
    <button>Get Random ID</button>
  </form>
</html>
