<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/header') %>
  <body>
    <%- include('partials/navbar')%>
    <h1>`You are looping through <%=array.count%> numbers</h1>

    <ul>
      <% array.forEach(num => { %> <% if (num % 2 === 0) { %>
      <li>EVEN: <%=num%></li>
      <% } else { %>
      <li>odd: <%=num%></li>
      <% } %> <% }) %>
    </ul>
  </body>
  <%- include('partials/bs4-js') %>
</html>
