<%- layout('./templates/boilerplate') %>
<h1 class="text-center">Edit Review</h1>
<div class="d-flex justify-content-center">
  <form
    class="col-6 row g-3 mt-3 needs-validation"
    action="/reviews/<%= review._id %>?_method=PUT"
    method="POST"
    novalidate
  >
    <!-- Review Title -->
    <div class="col-12">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="review[title]"
        value="<%=review.title%>"
        required
      />
    </div>

    <!-- Review Score -->
    <div class="col-3">
      <label for="rating" class="form-label">Rating</label>
      <select class="form-select" id="rating" name="review[rating]">
        <option>Select Rating</option>
        <% for (rating of validRatings) { %>
        <option value="<%= rating %>" <%= review.rating === rating ?'selected' : ''%> ><%= rating %> Stars</option>
        <% } %>
      </select>
    </div>

    <!-- Description -->
    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        name="review[description]"
        id="description"
        required
      >
<%= review.description %></textarea
      >
    </div>

    <!-- Save new review -->
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Save Review</button>
    </div>
  </form>
</div>

<div class="text-center mt-3">
  <a href="/national-parks">Back to ???</a>
</div>
