<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= name %></title>
  </head>
  <body>
    <h1>Item: <%= name %></h1>
    <h2>
      You have <%= stock %> in stock at a price of $<%= unitPrice %> each.
    </h2>
    <form action="http://localhost:3000/items/<%= id %>/edit" method="GET">
      <button>Update <%= name %></button>
    </form>
  </body>
</html>
