<%- layout('./templates/boilerplate') %>
<ul class="park-list row row-cols-1 row-cols-md-2 g-4">
  <% parks.forEach(park => { %>
  <div class="col">
    <div class="card">
      <img src="<%= park.imageURL %> " class="card-img-top" alt="random park" />
      <div class="card-body">
        <h5 class="card-title"><%= park.location %></h5>
        <p class="card-text"><%= park.description %></p>
        <a href="/national-parks/<%= park._id %>" class="btn btn-primary"
          ><%= park.title %></a
        >
      </div>
    </div>
  </div>
  <% }) %>
</ul>
