<%- layout('./templates/boilerplate') %>
<ul class="park-list row row-cols-1 row-cols-md-3 g-4">
  <% parks.forEach(park => { %>
  <div class="col">
    <div class="card">
      <img src="<%= park.imageURL %> " class="card-img-top" alt="random park" />
      <div class="card-body">
        <h5 class="card-title"><%= park.title %> ($<%= park.price %>/night)</h5>
        <p class="card-text"><%= park.description %></p>
        <div class="d-inline-flex text-center">
          <a
            href="/national-parks/<%= park._id %>"
            class="btn btn-primary mx-2"
          >
            <%=park.location%>
          </a>
          <%- include('../partials/deletePark', {_id: park._id}) %>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</ul>
