<%- layout('./templates/boilerplate') %>
<h1><%= park.title %></h1>
<h2><%= park.location %> ($<%= park.price %>/night)</h2>
<div class="d-flex my-3">
  <div class="col-md-1 d-inline">
    <button class="btn btn-dark">
      <a href="/national-parks/<%= park._id %>/edit">Edit</a>
    </button>
  </div>
  <div class="col-md-1">
    <%- include('../partials/deletePark', {_id: park._id}) %>
  </div>
</div>
<p class="mb-3"><%= park.description %></p>
<img class="card-img" src="<%= park.imageURL %> " alt="random-park" />

<p><a href="/national-parks">Back to List</a></p>
