<%- layout('./templates/boilerplate') %>
<h1><%= park.title %></h1>
<h2><%= park.location %></h2>
<div class="mt-5">
  <p class="mb-3"><%= park.description %></p>
  <img class="card-img" src="<%= park.imageURL %> " alt="random-park" />
</div>
<div>
  <a href="/national-parks/<%= park._id %>/edit">Edit</a>
</div>
<div>
  <form action="/national-parks/<%= park._id %>?_method=DELETE" method="POST">
    <button>DELETE</button>
  </form>
</div>
<p><a href="/national-parks">List of Parks</a></p>
