<%- layout('./templates/boilerplate') %>
<h1><%= park.title %></h1>
<h2><%= park.location %></h2>
<div>
  <a href="/national-parks/<%= park._id %>/edit">Edit</a>
</div>
<div>
  <form action="/national-parks/<%= park._id %>?_method=DELETE" method="POST">
    <button>DELETE</button>
  </form>
</div>
<p><a href="/national-parks">List of Parks</a></p>
